.buttons {
    margin: 0;
    text-align: center;
}
.btnHover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right,  rgb(255, 179, 117), rgb(251, 61, 133), rgb(255, 0, 98), rgb(1, 29, 94));
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btnHover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btnHover:focus {
    outline: none;
}